.containerText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;

    width: 95%;
    margin-top: 200px;
}

.containerText .text {
    width: 25%;

    margin: auto;
}

.containerText h1 {
    font-size: 45px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;

    color: #1d1d1d;
}

.containerText p {
    font-size: 15px;
    letter-spacing: 3px;
    font-family: 'Kiwi Maru', serif;
    margin-top: 5px;
    color: #2c2c2c;
}

.containerText button {
    width: 300px;
    padding: 15px;
    margin-top: 25px;

    border: 0;
    border-radius: 50px;

    font-size: 17px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.3s;

    color: #fff;
    background: #5858f8;
}

.margin {
    margin-top: 100px;
}
