.background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 95vh;
    background: url('https://i.redd.it/gmyldjq35fy51.png');
    background-size: cover;
}

.container {
    width: 55%;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

.container p {
    font-size: 15px;
    font-family: 'Kiwi Maru', serif;
    letter-spacing: 0.5px;
    margin: 0px 5px 35px 5px;
}

.container .buttons {
    width: 85%;

    display: flex;
    justify-content: space-between;
}

.container button {
    width: 300px;
    padding: 20px;

    border: 0;
    border-radius: 25px;

    font-size: 17px;
    font-weight: 500;

    cursor: pointer;
}

.container button:nth-child(2) {
    background: #1a1a1a;
    color: #f1f2f5;
    box-shadow: 0 2px 2px #f1f2f5;
}