header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 0;
    width: 85%;

    margin: auto;

    position: relative;
    flex: 1;
    top: 35px;
}

header img {
    width: 50px;
}

header .hyperlinks a {
    margin: 0 15px 0 15px;

    color: #fff;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Kiwi Maru';
    letter-spacing: 1px;
    text-decoration: none;
}

header .hyperlinks a:hover {
    text-decoration: underline;
}

header button {
    border: 0;
    padding: 10px 15px 10px 15px;
    border-radius: 50px;

    cursor: pointer;
    transition: 0.3s;
}

header button:hover {
    color: #5858f8;
    box-shadow: 0 5px 10px #5858f8
}