header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 0;
    width: 85%;

    margin: auto;

    position: relative;
    flex: 1;
    top: 35px;
}

header img {
    width: 135px;
}