footer {
    width: 100%;
    height: 90vh;
    margin-top: 15px;
    background: #222222;
}

footer .social-medias {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;

    color: #7289da;
}

footer .social-medias ul {
    width: 100%;
    
    display: flex;
}

footer .social-medias ul li {
    list-style: none;
    margin: 15px 15px 0 0;

    color: #fff;
    font-size: 25px;

    cursor: pointer;
}