footer {
    width: 100%;
    height: 75vh;
    margin-top: 15px;
    background: #222222;

    display: flex;
    justify-content: center;
    align-items: center
}

footer .social-medias {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;

    width: 20%;
    margin-right: 50px;
    color: #7289da;
}

footer .social-medias ul {
    width: 100%;
    
    display: flex;
}

footer .social-medias ul li {
    list-style: none;
    margin: 15px 15px 0 0;

    color: #fff;
    font-size: 25px;

    cursor: pointer;
}

footer .more-informations {
    width: 45%;

    display: flex;
    justify-content: space-between;
}

footer .more-informations ul li {
    list-style: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Kiwi Maru', serif;
    cursor: pointer;
    padding: 5px;
}

footer .more-informations ul li.subTitle {
    color: #7289da
}