footer {
    width: 100%;
    height: 90vh;
    margin-top: 15px;
    background: #222222;
}

footer .social-medias {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;

    color: #7289da;
}